@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff0f0;
    color: #333;
    line-height: 1.6;
    padding-top: 80px;
    width: 100vw;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0px 0px;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
}

nav.scrolled {
  background: rgba(255, 255, 255, 0.7); /* sem mudar cor */
  backdrop-filter: blur(10px); /* efeito vidro */
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.logo {
    display: flex;
    flex-direction: row;
    margin-right: 0px; 
    margin: 0;
    padding: 0;
    align-items: center;
    width: auto;
}

.texto-logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
    margin: 0;
    padding: 15px;
    line-height: 1.2;
    text-align: left;

    & h1 {
        font-size: 28px;
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, #dc3a21, #eda934);
        display: inline-block;
        background-clip: text;
        color: transparent;
        font-family: "Playfair Display", serif;
    }

    & h2 {
        font-size: 15px;
        color: #4c4c4c;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
}

.menu {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
}

.menu-toggle {
  width: 30px;
  height: 22px;
  display: none; /* Escondido por padrão no desktop */
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001; /* acima do menu */
  margin-right: 20px;
}

/* Linhas do hambúrguer */
.menu-toggle span {
  display: block;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 2px;
  transition: 0.3s ease;
}

/* Quando ativo (vira X) */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

img {
    width: 70px;
    height: 70px;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
        color: #4c4c4c;
    }
}

header {
    background: radial-gradient(circle at center, #ffbeb5, #fdada0, #feb097, #fdd9c0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 34px;
    font-family: "Playfair Display", serif;
    padding-bottom: 30px;
    padding-top: 60px;
    line-height: 1.2;

    & h1 {
        background: linear-gradient(to right, #ff0000, #edbb25);
        display: inline-block;
        background-clip: text;
        color: transparent;
    }
}

.subtitulo1 h2 {
    color: #535353;
    padding-bottom: 30px;
    font-weight: normal;
}

.subtitulo2 h3 {
    color: #535353;
    padding-bottom: 30px;
    font-weight: normal;
}

.botao-servicos {
    padding-bottom: 60px;

    & button {
        color: #f4f4f4;
        background: linear-gradient(to right, #e90000, #fc5320);
        padding: 15px;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }

        &:hover i {
        transform: translateX(5px);
    }
}

    & i {
        margin-left: 10px;
        transition: transform 0.3s ease-in-out;
    }
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #fff7f7;
    align-items: center;
}

.titulo2 {
    font-size: x-large;
    padding-top: 50px;
    text-align: center;
    line-height: 1.2;

    & h1 {
        background: linear-gradient(to right, #ff0000, #edbb25);
        display: inline-block;
        background-clip: text;
        color: transparent;
        font-family: "Playfair Display", serif;
    }

}

.subtitulo2 {
    padding-bottom: 10px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;     /* centraliza na vertical, se tiver altura definida */
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    

    & .card {
        text-align: justify;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 1rem;
        padding: 25px;
        width: 500px;
        height: 280px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-size: large;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        line-height: 1.2;

        & h3 {
            margin-bottom: 15px;
            font-family: "Playfair Display", serif;
            font-size: xx-large;
            color: #000000;
            transition: color 0.3s ease-in-out;
        }

        &:hover {
            border: 2px solid #ff62008a;
            box-shadow: 2px 10px 20px rgba(8, 8, 8, 0.168);
            transform: translateY(-8px);
        }

        &:hover h3 {
            color: #ff4500;
        }

        .icone {
            width: 55px;
            height: 55px;
            background: linear-gradient(135deg, #ff0000, #ff7b00);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            color: #fff;
            margin-bottom: 15px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            & :hover {
                transform: scale(1.1);
                box-shadow: 0 4px 12px rgba(255, 80, 0, 0.5);
            }
        }
    }
}

.sobre {
    margin-top: 90px;
    text-align: center;
}

.painel-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 120px;
    padding: 20px 20px;
    background: #fff5f0; /* cor de fundo leve */
    text-align: center;
    flex-wrap: wrap; /* responsivo */
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    transition: transform 0.3s ease;

    & .icone {
        width: 70px;
        height: 70px;
        background: linear-gradient(135deg, #ff4500, #ffa500);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: #fff;
        margin-bottom: 15px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.15);
            box-shadow: 0 6px 15px rgba(255, 69, 0, 0.4);
        }
    }

    & h3 {
        font-family: "Playfair Display", serif;
        font-size: 1.2rem;
        color: #2e2e2e;
        font-weight: bold;
        margin-bottom: 8px;
    }

    & p {
        font-size: 0.95rem;
        color: #5c5c5c;
    }
}

.mensagem {
    background: linear-gradient(135deg, #ff000041, #ff7b0056);
    padding: 40px 80px;
    margin-top: 40px;
    border-radius: 15px;
    border: 2px solid #e838385d;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.166);
    text-align: center;
    font-family: "Playfair Display", serif;
}

.mensagem-texto h2 {
    color: #000;
    font-size: 28px;
    font-weight: normal;
}

.contato {
    background: radial-gradient(circle at center, #ffbeb5, #fdada0, #feb097, #fdd9c0);
    display: flex;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & i {
        padding-right: 20px;
    }
}

.fontes-contato {
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex; /* Adicionar display flex para desktop */
    gap: 20px; /* Espaçamento entre os botões no desktop */

    & button {
        color: #f4f4f4;
        background: #36363681;
        border: 1px solid#00000069;
        border-radius: 5px;
        cursor: pointer;
        font-size: 22px;
    }

    & .botao-wpp {
        padding: 10px 50px;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 2px 5px 10px #1010109b;
            transform: translateX(-5px) translateY(-2px);
            background: #449d33a6;
        }
    }

    & .botao-face {
        /* margin-left: 20px; Removido para usar gap */
        padding: 10px 50px;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 2px 5px 10px #1010109b;
            transform: translateX(-5px) translateY(-2px);
            background: #334c9da6;
        }
    }

    & .botao-insta {
        /* margin-left: 20px; Removido para usar gap */
        padding: 10px 50px;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 2px 5px 10px #1010109b;
            transform: translateX(-5px) translateY(-2px);
            background: #972538a6;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 40px;
    font-size: 14px;
    color: #777777;

    & hr {
        width: 95%;
        border: 0.5px solid #9a9a9a;
        margin: 10px 0;
    }

    & p {
        margin-bottom: 10px;
    }

}

.footer-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding: 10px 0;


    & .logo-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;

        & .img-footer {
            width: 60px;
            height: 60px;
            padding-top: 10px;
        }
    }

    & .texto-logo-footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: auto;
        margin: 0;
        padding: 0px;
        line-height: 1.1;
        text-align: left;

        & h1 {
            font-size: 23px;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #dc3a21, #eda934);
            display: inline-block;
            background-clip: text;
            color: transparent;
            font-family: "Playfair Display", serif;
        }

        & h2 {
            font-size: 10px;
            color: #4c4c4c;
            margin: 0;
            padding: 0;
            font-weight: normal;
        }
    }
}

@media (max-width: 768px) {
  /* 1.1 Header: Diminuir tamanho */
body {
    padding-top: 60px;
}

  header {
    padding-top: 10px;
  }
  .titulo1 {
    font-size: 30px; /* Reduzir o tamanho do título principal */
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .subtitulo1 h2 {
    padding-bottom: 15px;
    font-size: 1.1em;
  }
  .subtitulo2 h3 {
    padding-bottom: 15px;
    font-size: 1em;
  }
  .botao-servicos {
    padding-bottom: 50px;
  }
  .botao-servicos button {
    font-size: 16px;
    padding: 10px;
  }

  .titulo2 {
    padding-top: 10px;
}
  /* 1.3 Cards: Mesmo tamanho e um abaixo do outro */
  .cards {
    flex-direction: column;
    gap: 20px;
  }
  .cards .card {
    max-width: 95%; /* Ocupar a maior parte da largura */
    height: 250px; /* Altura automática para se ajustar ao conteúdo */
    padding: 18px;
    font-size: medium;
    line-height: 1.1;
  }
  .cards .card h3 {
    font-size: 22px;
    line-height: 1.2;
  }

  /* 1.4 Sobre: Igual, apenas menor */
  .sobre {
    padding-top: 10px;
  }
  .sobre .subtitulo2 h3 {
    font-size: 1em;
    line-height: 1.5;
  }

  .painel-info {
    gap: 40px;
    padding: 10px 10px;
  }   

  /* 1.5 Mensagem: Mesmo formato, apenas menor */
  .mensagem {
    padding: 10px 30px;
    margin-top: 30px;
  }
  .mensagem-texto h2 {
    font-size: 20px;
  }

  /* 1.6 Contato: Botões um abaixo do outro */
  .fontes-contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
  }
  .fontes-contato button {
    width: 100%;
    margin-left: 0 !important; /* Remover margens laterais */
    padding: 10px 10px;
  }
  .fontes-contato .botao-face {
    margin-left: 0;
  }
  .fontes-contato .botao-insta {
    margin-left: 0;
  }

  /* 1.7 Footer: Tirar o menuzinho */
  .footer-menu .menu {
    display: none; /* Ocultar o menu no footer */
  }
  .footer-menu {
    justify-content: center; /* Centralizar o logo no footer */
  }

  /* 1.2 Menu Hamburger na nav: Garantir que o menu principal seja ocultado e o toggle exibido */
  .menu {
    display: none; /* O menu principal deve ser escondido por padrão no mobile */
    position: fixed;
    top: 60px;
    right: -100%;
    width: 220px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    transition: 0.3s ease;
  }

  nav .menu.open {
    display: flex; /* Exibir quando a classe 'open' for adicionada pelo JS */
    right: 0;
  }

  .menu-toggle {
    display: flex; /* Exibir o ícone do hamburger */
    margin-top: 19px;
    margin-right: 20px;
  }

  /* Outros ajustes da nav */
  nav {
    padding: 0 10px;
  }
  nav .logo {
    width: auto;
  }
  nav img {
    width: 50px;
    height: 50px;
  }
  .texto-logo {
    padding: 10px;
  }
  .texto-logo h1 {
    font-size: 20px;
  }
  .texto-logo h2
  mg {
    width: 70px;
    height: 70px;
    padding: 0;
}
}
